/* Main css document for the project */

/* 
    COLORS:
    TODO: pick better colors
    neutral:#E3E3E3
    primary: #455D7A
    accent: #F95959
    dark: #233142
*/

html {
    --neutral-color: #E3E3E3;
    --primary-color: #455D7A;
    --accent-color: #F95959;
    --dark-color: #233142;
}

/* general settings */

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--neutral-color);
}
.body-content {
    height: 100%;
}

/*top bar*/
#document-title-display {
    margin: 0px;
    margin-left: 10px;
    font-size: 1.5rem;
}

#document-title-input {
    margin: 0px;
    margin-left: 10px;
    font-size: 1.5rem;
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.title {
    color: var(--primary-color);
    font-size: 2rem;
    margin-left: auto;
}

.main {
    left: 20px;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.main-top {
    background-color: var(--dark-color);
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: #ABCCA7;
}

.main-bottom {
    background-color: var(--dark-color);
    height: 5%;
}

.menu-open-button {
    cursor: pointer;
    font-size: 2rem;
}

.menu-open-button:hover {
    color: var(--accent-color);
}

#input {
    border-right: none;
    border-top: none;
}

.resize-bar {
    width: 5px;
    background-color: var(--dark-color);
    cursor: col-resize;
    position: absolute;
    z-index: 100;
}

.resize-text {
    margin-top: 20px;
    transform: rotate(90deg);
    color: white;
    white-space: nowrap;
}

#output {
  border-top: none;
  background: white;
  left: 5px;
  position: relative;
}

.html-container {
    padding: 20px;
    overflow: auto;
    height: 100%;
}

/* Menu */

.menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: var(--neutral-color);
    color: var(--primary-color);
    z-index: 5;
    padding: 10px;
}

.menu-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-title {
    margin-right: auto;
    font-size: 2rem;
}

.menu-close-button {
    font-size: 2rem;
    cursor: pointer;
}

.menu-close-button:hover {
    color: var(--accent-color);
}

/* Menu Items */

.menu-list {
    list-style: none;
    font-size: 1.5rem;
    padding-left: 2rem; 
}
.menu-list>li:hover  {
    color: var(--accent-color);
    cursor: pointer;
}
.menu-list-title {
    font-size: 2rem;
}
